.card-container{
    width: 100%;
    .row{
        width: 100%;

        .col-xs-6{
            width: 100%;
            display: inline-block;

            iframe{
                width: 96%;
                padding: 30px 2%;
                min-height: 500px;
                border: none;
            }
        }
    }
}